html, body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body, input, textarea {
  font-family: Arial, Tahoma;
}

.block {
  display: block;
}

.aligned {
  margin: 0px auto!important;
}

.border-box, article, div, span, img, p, a, header, footer, ul, li, h1, h2, h3, h4, h5, h6 {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  display: block;
  margin: 0px;
  padding: 0px;
  font-size: inherit;
  font-weight: normal;
}

p {
  display: block;
  padding: 0px;
  margin: 0px 0px 20px 0px;
  line-height: 160%;
}

p:last-child {
  margin-bottom: 0px;
}

img {
  display: block;
  border: none;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  -webkit-transition: color .5s ease-out;
  -moz-transition: color .5s ease-out;
  -o-transition: color .5s ease-out;
  -ms-transition: color .5s ease-out;
  transition: color .5s ease-out;
}

a, .custom-color {
  color: #0e71c5;
}

/* lists */

ul {
  display: block;
  padding: 0px 0px 0px 50px;
  margin: 0px 0px 20px 0px;
  list-style: square;
}

ul li {
  margin-bottom: 10px;
  line-height: 160%;
}

ul li:last-child {
  margin: 0px;
}

ul.formatted {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

ul.formatted li {
  display: block;
  margin: 0px;
}

/* tables */

.table {
  display: table;
}

.table.table-full {
  width: 100%;
  height: 100%;
}

.table.table-full-width {
  width: 100%;
}

.table.table-full-height {
  height: 100%;
}

.table-row {
  display: table-row;
  height: auto;
}

.table-row.table-flex {
  height: 100%;
}

.table-cell {
  display: table-cell;
  width: auto;
}

.table-cell.table-flex {
  width: 100%;
}

.table-cell.table-top {
  vertical-align: top;
}

.table-cell.table-middle {
  vertical-align: middle;
}

.table-cell.table-bottom {
  vertical-align: bottom;
}

.table-cell.table-left {
  text-align: left;
}

.table-cell.table-center {
  text-align: center;
}

.table-cell.table-right {
  text-align: right;
}

/* transitions */

.transition-all-025 {
  -webkit-transition: all .25s;
  -moz-transition: all .25s;
  -o-transition: all .25s;
  -ms-transition: all .25s;
  transition: all .25s;
}

.transition-all-050 {
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -ms-transition: all .5s;
  transition: all .5s;
}

.transition-all-075 {
  -webkit-transition: all .75s;
  -moz-transition: all .75s;
  -o-transition: all .75s;
  -ms-transition: all .75s;
  transition: all .75s;
}

.transition-all-1 {
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -ms-transition: all 1s;
  transition: all 1s;
}